Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

fix city statest in election 2025
  src/geoscore_de/data_flow/features/election_25.py
Due: ruff-lint, ruff-format

update win party plots 2021
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

use same name pattern in election 25 as 21
  src/geoscore_de/data_flow/features/election_25.py
Due: ruff-lint, ruff-format

update election 25 analyses
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Update analyses/features/election_2025.ipynb
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix feature config
  configs/features.yaml
Due: none

fix tests
  tests/data_flow/features/test_election_25.py
Due: ruff-lint, ruff-format

Update analyses/municipal_explore.ipynb
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

69 election analyses (#70)
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/municipal_explore.ipynb
  configs/features.yaml
  data/raw/31122024_Auszug_GV.xlsx
  src/geoscore_de/data_flow/features/election_21.py
  src/geoscore_de/data_flow/features/election_25.py
  tests/data_flow/features/test_election_21.py
  tests/data_flow/features/test_election_25.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update population analyses
  analyses/features/population.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

replace population 0 with nan
  src/geoscore_de/data_flow/features/population.py
Due: ruff-lint, ruff-format

update unemployment analyses
  analyses/features/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

weight all unemployment features by population
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

change cmap for election turnout
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix tests
  tests/data_flow/features/test_population.py
Due: ruff-lint, ruff-format

Update analyses/features/unemployment.ipynb
  analyses/features/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Update analyses/features/population.ipynb
  analyses/features/population.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix training config
  configs/training.yaml
Due: none

update geo analyses
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix division by 0
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

fix division by 0 in population data
  src/geoscore_de/data_flow/features/population.py
Due: ruff-lint, ruff-format

72 update analyses (#73)
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/features/population.ipynb
  analyses/features/unemployment.ipynb
  analyses/geojson.ipynb
  configs/training.yaml
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/unemployment.py
  tests/data_flow/features/test_population.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add delta after transform for unemployment
  configs/features.yaml
Due: none

add sum feature transformation
  configs/features.yaml
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/sum.py
Due: ruff-lint, ruff-format

add support for catboost model
  .gitignore
  pyproject.toml
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/models.py
Due: ruff-lint, ruff-format

add catboost categorycal support
  src/geoscore_de/modelling/train.py
  tests/modelling/test_train_split.py
Due: ruff-lint, ruff-format

move shap creation to train res
  reports/training_report.qmd
  src/geoscore_de/modelling/training_result.py
Due: ruff-lint, ruff-format

fix docstring
  src/geoscore_de/modelling/models.py
Due: ruff-lint, ruff-format

update uv.lock
  uv.lock
Due: none

add age catboost training
  configs/features.yaml
  configs/training_age.yaml
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

update area analyses
  analyses/features/area.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update birth analyses
  analyses/features/births.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update migration (remove persons column)
  analyses/features/area.ipynb
  src/geoscore_de/data_flow/features/migration.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix shap creation
  reports/training_report.qmd
  src/geoscore_de/modelling/training_result.py
Due: ruff-lint, ruff-format

move some configs
  src/geoscore_de/data_flow/config.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/matrix_builder.py
  tests/data_flow/features/test_feature_config.py
Due: ruff-lint, ruff-format

update training report
  reports/training_report.qmd
Due: none
