Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

add unemployment 2020 and 2025 and remove 2024
  configs/features.yaml
  data/raw/features/13211-01-03-5-unemployment-2020.csv
  data/raw/features/13211-01-03-5-unemployment-2025.csv
  data/raw/features/13211-01-03-5-unemployment.csv
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

add population diff 2022 and 2024
  analyses/features/population.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add unemployment diff
  analyses/features/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

change unemployment naming
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

update configs
  configs/features.yaml
  configs/training.yaml
Due: none

support parquet files
  .gitignore
  README.md
  configs/features.yaml
  src/geoscore_de/cli.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  tests/data_flow/features/test_feature_config.py
Due: ruff-lint, ruff-format

add category quick fix
  reports/training_report.qmd
Due: none

fix report and add train and valid data separation
  reports/training_report.qmd
  src/geoscore_de/modelling/train.py
  tests/modelling/test_training_result.py
Due: ruff-lint, ruff-format

fix train
  src/geoscore_de/modelling/training_result.py
Due: ruff-lint, ruff-format

add CLI verbose
  src/geoscore_de/cli.py
Due: ruff-lint, ruff-format

move matrix builder
  src/geoscore_de/cli.py
  src/geoscore_de/data_flow/matrix_builder.py
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

add migration to features
  configs/features.yaml
  src/geoscore_de/cli.py
  src/geoscore_de/data_flow/features/__init__.py
Due: ruff-lint, ruff-format

fix tests
  tests/test_cli.py
Due: ruff-lint, ruff-format

fix unemployment
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

remove train comment
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add unemployment per capita
  src/geoscore_de/data_flow/features/migration.py
Due: ruff-lint, ruff-format

Apply suggestions from code review
  reports/training_report.qmd
  src/geoscore_de/modelling/training_result.py
Due: ruff-lint, ruff-format

fix analyses
  analyses/features/migration.ipynb
  analyses/features/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

65 unemployment delta (#66)
  .gitignore
  README.md
  analyses/features/migration.ipynb
  analyses/features/population.ipynb
  analyses/features/unemployment.ipynb
  configs/features.yaml
  configs/training.yaml
  data/raw/features/12711-91-01-5-migration.csv
  data/raw/features/13211-01-03-5-unemployment-2020.csv
  data/raw/features/13211-01-03-5-unemployment-2025.csv
  data/raw/features/13211-01-03-5-unemployment.csv
  data/raw/target/migration.csv
  reports/training_report.qmd
  src/geoscore_de/cli.py
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/migration.py
  src/geoscore_de/data_flow/features/unemployment.py
  src/geoscore_de/data_flow/matrix_builder.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
  tests/data_flow/features/test_feature_config.py
  tests/data_flow/features/test_matrix_builder.py
  tests/modelling/test_training_result.py
  tests/test_cli.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

ignore pbf files
  .gitignore
Due: none

add hospital geojson data
  data/osm/hospitals.geojson
Due: none

move hospital geojson
  data/raw/osm/hospitals.geojson
Due: none

add atm, uni, tourist data
  data/raw/osm/atms_full.geojson
  data/raw/osm/tourism.geojson
  data/raw/osm/universities.geojson
Due: none

add osm analyses
  analyses/features/osm.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add osm hospital feature
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/osm_hospitals.py
Due: ruff-lint, ruff-format

add default path to municipality geofile
  src/geoscore_de/data_flow/geo.py
Due: ruff-lint, ruff-format

add ATM features
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/osm_atm.py
Due: ruff-lint, ruff-format

add docstrings to OSM
  src/geoscore_de/data_flow/features/osm_atm.py
  src/geoscore_de/data_flow/features/osm_hospitals.py
Due: ruff-lint, ruff-format

add osm tourist
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/osm_tourist.py
Due: ruff-lint, ruff-format

add osm uni
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/osm_university.py
Due: ruff-lint, ruff-format

update osm analyses
  analyses/features/osm.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Update src/geoscore_de/data_flow/features/osm_atm.py
  src/geoscore_de/data_flow/features/osm_atm.py
Due: ruff-lint, ruff-format

update election 21 notebook
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix type in federal election 21 transform
  src/geoscore_de/data_flow/features/election_21.py
Due: ruff-lint, ruff-format

update election 21 exploration
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

67 open street maps (#68)
  .gitignore
  analyses/features/osm.ipynb
  configs/features.yaml
  data/raw/osm/atms_full.geojson
  data/raw/osm/hospitals.geojson
  data/raw/osm/tourism.geojson
  data/raw/osm/universities.geojson
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/osm_atm.py
  src/geoscore_de/data_flow/features/osm_hospitals.py
  src/geoscore_de/data_flow/features/osm_tourist.py
  src/geoscore_de/data_flow/features/osm_university.py
  src/geoscore_de/data_flow/geo.py
  tests/data_flow/features/test_osm_features.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

resolve city states
  src/geoscore_de/data_flow/features/election_21.py
  tests/data_flow/features/test_election_21.py
Due: ruff-lint, ruff-format

update election 21 analyses
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update municipality exploration
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add alternative municipality xlsx
  data/raw/31122024_Auszug_GV.xlsx
Due: none
