Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

32 add homogeneity feature engineering (#33)
  configs/features.yaml
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/base.py
  src/geoscore_de/data_flow/feature_engineering/config.py
  src/geoscore_de/data_flow/feature_engineering/homogeneity.py
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/base.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/election_21.py
  src/geoscore_de/data_flow/features/election_25.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/unemployment.py
  src/geoscore_de/data_flow/municipality.py
  tests/data_flow/feature_engineering/test_base_feature_engineering.py
  tests/data_flow/feature_engineering/test_homogeneity.py
  tests/data_flow/features/conftest.py
  tests/data_flow/features/test_election_21.py
  tests/data_flow/features/test_election_25.py
  tests/data_flow/features/test_feature_base.py
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

add test GH action
  .github/workflows/pytest.yml
Due: none

add lfs support for GH action
  .github/workflows/pytest.yml
Due: none

fix test
  tests/address/test_base_address_retriever.py
Due: ruff-lint, ruff-format

add precommit GH action
  .github/workflows/pre-commit.yml
Due: none

replace nbconvert with nbstripout
  .pre-commit-config.yaml
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/geojson.ipynb
  analyses/mapy_com_api.ipynb
  analyses/municipal_explore.ipynb
  analyses/research.ipynb
  analyses/target/migration.ipynb
  analyses/target/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add GH actions (#35)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/geojson.ipynb
  analyses/mapy_com_api.ipynb
  analyses/municipal_explore.ipynb
  analyses/research.ipynb
  analyses/target/migration.ipynb
  analyses/target/unemployment.ipynb
  tests/address/test_base_address_retriever.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

move municipality feature
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/geojson.ipynb
  analyses/municipal_explore.ipynb
  src/geoscore_de/data_flow/features/municipality.py
  src/geoscore_de/data_flow/features/unemployment.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix feature config
  configs/features.yaml
Due: none

add test feature matrix load default config
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

add road accident data
  .gitignore
  data/raw/features/46241-01-04-5-road-accidents.csv
Due: none

add road accident notebook and feature loader
  analyses/features/road_accidents.ipynb
  src/geoscore_de/data_flow/features/road_accidents.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add road accident to default config
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/road_accidents.py
Due: ruff-lint, ruff-format

add plotnine to alalysis dependencies
  pyproject.toml
Due: none

add plotnine to alalysis dependencies
  analyses/features/road_accidents.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add births data
  .gitignore
  data/raw/features/12612-91-01-5-births.csv
Due: none

fix road accidents docstrings
  src/geoscore_de/data_flow/features/road_accidents.py
Due: ruff-lint, ruff-format

add birth feature and explore
  analyses/features/births.ipynb
  src/geoscore_de/data_flow/features/birth.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update encoding births explore
  analyses/features/births.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add births and fix feature matrix
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/birth.py
  src/geoscore_de/data_flow/features/municipality.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/road_accidents.py
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

add test for municipality load
  tests/data_flow/features/test_municipality.py
Due: ruff-lint, ruff-format

add test load road accidents
  tests/data_flow/features/test_road_accidents.py
Due: ruff-lint, ruff-format

add test load births
  tests/data_flow/features/test_births.py
Due: ruff-lint, ruff-format

changes based on PR
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/birth.py
  src/geoscore_de/data_flow/features/road_accidents.py
  tests/data_flow/features/test_births.py
Due: ruff-lint, ruff-format

changes based on PR
  src/geoscore_de/data_flow/features/birth.py
Due: ruff-lint, ruff-format

36 explore more input datasets (#37)
  .gitignore
  analyses/features/births.ipynb
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/features/road_accidents.ipynb
  analyses/geojson.ipynb
  analyses/municipal_explore.ipynb
  configs/features.yaml
  data/raw/features/12612-91-01-5-births.csv
  data/raw/features/46241-01-04-5-road-accidents.csv
  pyproject.toml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/birth.py
  src/geoscore_de/data_flow/features/municipality.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/road_accidents.py
  src/geoscore_de/data_flow/features/unemployment.py
  tests/data_flow/features/test_births.py
  tests/data_flow/features/test_matrix_builder.py
  tests/data_flow/features/test_municipality.py
  tests/data_flow/features/test_road_accidents.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add mlflow functions
  pyproject.toml
  src/geoscore_de/mlflow.py
Due: ruff-lint, ruff-format

add mlflow files to gitignore
  .gitignore
Due: none

add mlflow logging of training process
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

log feature_matrix
  src/geoscore_de/data_flow/features/matrix_builder.py
Due: ruff-lint, ruff-format

update training config
  configs/training.yaml
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

update training logging of model
  src/geoscore_de/mlflow.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add train sample csv to mlflow
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

updates based on PR
  pyproject.toml
  src/geoscore_de/mlflow.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

rename mlflow to mlflow_wrapper
  src/geoscore_de/data_flow/features/matrix_builder.py
  src/geoscore_de/mlflow_wrapper.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add tests for mlflow wrapper
  tests/test_mlflow.py
Due: ruff-lint, ruff-format

fix mlflow tests
  tests/test_mlflow.py
Due: ruff-lint, ruff-format

updates based on PR
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add tests of feature filtering
  tests/modelling/test_train.py
Due: ruff-lint, ruff-format

update train col filtering
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format
