Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

Update src/geoscore_de/data_flow/municipality.py
  src/geoscore_de/data_flow/municipality.py
Due: ruff-lint, ruff-format

Update src/geoscore_de/data_flow/election/utils.py
  src/geoscore_de/data_flow/election/utils.py
Due: ruff-lint, ruff-format

3 add germany data exploration and loading (#4)
  .gitignore
  Makefile
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/geojson.ipynb
  analyses/municipal_explore.ipynb
  analyses/research.ipynb
  data/gemeinden_simplify200.geojson
  data/raw/municipalities_2022.csv
  data/raw/unemployment.csv
  pyproject.toml
  src/geoscore_de/__init__.py
  src/geoscore_de/data_flow/election/cli.py
  src/geoscore_de/data_flow/election/federal_21.py
  src/geoscore_de/data_flow/election/federal_25.py
  src/geoscore_de/data_flow/election/utils.py
  src/geoscore_de/data_flow/municipality.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add notebook with target scrapping exploration
  analyses/target_scrape.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add population csv
  data/raw/population.csv
  src/geoscore_de/data_flow/population.py
Due: ruff-lint, ruff-format

add unemployment notebook
  .gitignore
  analyses/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update unemployment alanyses
  analyses/unemployment.ipynb
  src/geoscore_de/data_flow/population.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add migration analyses
  analyses/migration.ipynb
  src/geoscore_de/data_flow/migration.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update migration load
  analyses/migration.ipynb
  src/geoscore_de/data_flow/migration.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix AGS creation
  src/geoscore_de/data_flow/population.py
  src/geoscore_de/data_flow/unemployment.py
Due: ruff-lint, ruff-format

update unemployment notebook
  analyses/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add init version of diploma assignment
  jcap_assignment.md
Due: none

update assignment
  jcap_assignment.md
Due: none

add geo population comparison to dstats
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

remove insolvency notebook
  analyses/target_scrape.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add example config
  .gitignore
  configs/example.env
Due: none

add struct address model and struct address retriever
  src/geoscore_de/address/base.py
  src/geoscore_de/address/models.py
Due: ruff-lint, ruff-format

add mapy com integration
  analyses/mapy_com_api.ipynb
  src/geoscore_de/address/mapy_com.py
  tests/address/test_mapy_com.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

resolve some review comments
  analyses/mapy_com_api.ipynb
  src/geoscore_de/address/mapy_com.py
  tests/address/test_mapy_com.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

7 location search (#10)
  .gitignore
  analyses/mapy_com_api.ipynb
  configs/example.env
  src/geoscore_de/address/base.py
  src/geoscore_de/address/mapy_com.py
  src/geoscore_de/address/models.py
  tests/address/test_mapy_com.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update data retrieval address
  src/geoscore_de/data_flow/migration.py
  src/geoscore_de/data_flow/unemployment.py
Due: ruff-lint, ruff-format

move target data to separate folder
  data/raw/target/migration.csv
  data/raw/target/unemployment.csv
Due: none

move target data to separate folder
  .gitignore
  analyses/migration.ipynb
  analyses/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix links to genesis database
  src/geoscore_de/data_flow/migration.py
  src/geoscore_de/data_flow/unemployment.py
Due: ruff-lint, ruff-format

update comment on migration load
  src/geoscore_de/data_flow/migration.py
Due: ruff-lint, ruff-format

update population load
  src/geoscore_de/data_flow/population.py
Due: ruff-lint, ruff-format

remove redundant code
  analyses/migration.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add AGS code from geojson
  src/geoscore_de/address/base.py
  src/geoscore_de/address/mapy_com.py
  src/geoscore_de/address/models.py
  tests/address/test_mapy_com.py
Due: ruff-lint, ruff-format

fix address AGS retriever
  src/geoscore_de/address/base.py
  tests/address/test_base_address_retriever.py
Due: ruff-lint, ruff-format

add pydantic and dotenv dependencies
  pyproject.toml
Due: none

5 target load (#6)
  .gitignore
  analyses/geojson.ipynb
  analyses/migration.ipynb
  analyses/unemployment.ipynb
  data/raw/population.csv
  data/raw/target/migration.csv
  data/raw/target/unemployment.csv
  jcap_assignment.md
  src/geoscore_de/data_flow/migration.py
  src/geoscore_de/data_flow/population.py
  src/geoscore_de/data_flow/unemployment.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Update src/geoscore_de/address/base.py
  src/geoscore_de/address/base.py
Due: ruff-lint, ruff-format

Update pyproject.toml
  pyproject.toml
Due: none

11 ags retrieve (#12)
  pyproject.toml
  src/geoscore_de/address/base.py
  src/geoscore_de/address/mapy_com.py
  src/geoscore_de/address/models.py
  tests/address/test_base_address_retriever.py
  tests/address/test_mapy_com.py
Due: ruff-lint, ruff-format

add base API
  src/geoscore_de/app/api/routes/__init__.py
  src/geoscore_de/app/api/routes/geocode.py
  src/geoscore_de/app/api/routes/lookup.py
Due: ruff-lint, ruff-format

add config
  src/geoscore_de/app/config.py
Due: ruff-lint, ruff-format

add app setup
  pyproject.toml
  src/geoscore_de/app/__init__.py
  src/geoscore_de/app/__main__.py
  src/geoscore_de/app/config.py
  src/geoscore_de/app/main.py
Due: ruff-lint, ruff-format

fix app config
  src/geoscore_de/app/config.py
Due: ruff-lint, ruff-format
