Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

add area load\transform
  src/geoscore_de/data_flow/features/area.py
Due: ruff-lint, ruff-format

WIP add area load and exploration notebook
  analyses/features/area.ipynb
  src/geoscore_de/data_flow/features/area.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix python version for analyses
  analyses/features/births.ipynb
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/features/population.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add area analyses
  analyses/features/area.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix precommit
  tests/test_cli.py
Due: ruff-lint, ruff-format

Add Typer CLI for feature-matrix creation and model training (#59)
  README.md
  pyproject.toml
  src/geoscore_de/cli.py
  tests/test_cli.py
Due: ruff-lint, ruff-format

add land aread data
  .gitignore
  data/raw/features/33111-01-03-5-land-area.csv
Due: none

fix row filtering by ags
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

update default population path
  src/geoscore_de/data_flow/features/population.py
Due: ruff-lint, ruff-format

add area to feature builder
  configs/features.yaml
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/matrix_builder.py
Due: ruff-lint, ruff-format

fix tests
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

fix error raise
  src/geoscore_de/data_flow/features/matrix_builder.py
Due: ruff-lint, ruff-format

55 add new data (#60)
  .gitignore
  analyses/features/area.ipynb
  analyses/features/births.ipynb
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  analyses/features/population.ipynb
  analyses/features/unemployment.ipynb
  configs/features.yaml
  configs/training.yaml
  data/raw/features/12411-02-03-5-population.csv
  data/raw/features/13211-01-03-5-unemployment.csv
  data/raw/features/33111-01-03-5-land-area.csv
  data/raw/features/unemployment.csv
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/area.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/unemployment.py
  src/geoscore_de/modelling/train.py
  tests/data_flow/features/test_matrix_builder.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update training report
  reports/training_report.qmd
Due: none

update train report
  reports/training_report.qmd
Due: none

update train report
  reports/training_report.qmd
  src/geoscore_de/modelling/plots/grid_search_plots.py
Due: ruff-lint, ruff-format

update train processs and grid attributes
  configs/training.yaml
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
Due: ruff-lint, ruff-format

update migration analyses and load
  analyses/features/migration.ipynb
  src/geoscore_de/data_flow/features/migration.py
  src/geoscore_de/data_flow/migration.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix population analyses
  analyses/features/population.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix precommits
  src/geoscore_de/modelling/models.py
Due: ruff-lint, ruff-format

update comments
  src/geoscore_de/modelling/models.py
Due: ruff-lint, ruff-format

Implement model selection with pluggable factory (LightGBM, RandomForest, GradientBoosting, XGBoost) (#63)
  configs/training.yaml
  pyproject.toml
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/models.py
  src/geoscore_de/modelling/train.py
  tests/modelling/test_data_filtering.py
  tests/modelling/test_models.py
  tests/modelling/test_train_split.py
Due: ruff-lint, ruff-format

update migration analyses
  analyses/features/migration.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix training report
  reports/training_report.qmd
Due: none

fix training report metadata format
  reports/training_report.qmd
Due: none

fix migration load
  src/geoscore_de/data_flow/features/migration.py
Due: ruff-lint, ruff-format

remove deprecated func
  src/geoscore_de/data_flow/features/migration.py
Due: ruff-lint, ruff-format

update training config structure
  configs/training.yaml
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
  tests/modelling/test_train_split.py
  tests/test_cli.py
Due: ruff-lint, ruff-format

unify param_grid and param_dist
  configs/training.yaml
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

fix tests and lock
  src/geoscore_de/modelling/config.py
  tests/modelling/test_data_filtering.py
  tests/modelling/test_models.py
  uv.lock
Due: ruff-lint, ruff-format

update formating of report
  reports/training_report.qmd
  src/geoscore_de/modelling/plots/grid_search_plots.py
Due: ruff-lint, ruff-format

Potential fix for pull request finding
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

Potential fix for pull request finding
  src/geoscore_de/modelling/config.py
Due: ruff-lint, ruff-format

Potential fix for pull request finding
  tests/modelling/test_models.py
Due: ruff-lint, ruff-format

Potential fix for pull request finding
  src/geoscore_de/data_flow/features/migration.py
Due: ruff-lint, ruff-format

update early stopping
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

61 update train report (#64)
  analyses/features/migration.ipynb
  analyses/features/population.ipynb
  analyses/target/migration.ipynb
  configs/training.yaml
  reports/training_report.qmd
  src/geoscore_de/data_flow/features/migration.py
  src/geoscore_de/data_flow/migration.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/plots/grid_search_plots.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
  tests/modelling/test_data_filtering.py
  tests/modelling/test_models.py
  tests/modelling/test_train_split.py
  tests/test_cli.py
  uv.lock
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

move migration data
  .gitignore
  data/raw/features/12711-91-01-5-migration.csv
  data/raw/target/migration.csv
Due: none
