Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

ruff-lint:
  name: ruff-lint
  entry: ruff check
  language: system
  args:
  - --fix
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

add research notebook about SK data
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add DE section
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update DE election section
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add DE geographic locations
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update SK target
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update DE data
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add census data source
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

resolve PR comments
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

1 research (#2)
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add exploration of voting data
  notebooks/election_2025.ipynb
  pyproject.toml
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update exploration of voting data
  notebooks/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update voting 2025
  notebooks/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update package
  pyproject.toml
  src/geoscore-de/__init__.py
Due: ruff-lint, ruff-format

update from setuptools to uv
  Makefile
  pyproject.toml
  src/geoscore_de/__init__.py
Due: ruff-lint, ruff-format

add load script
  src/geoscore_de/data_flow/election_25/load.py
Due: ruff-lint, ruff-format

update election load
  src/geoscore_de/data_flow/election/federal_25.py
  src/geoscore_de/data_flow/election/utils.py
Due: ruff-lint, ruff-format

add federal election 21
  src/geoscore_de/data_flow/election/federal_21.py
Due: ruff-lint, ruff-format

add cli
  src/geoscore_de/data_flow/election/cli.py
Due: ruff-lint, ruff-format

add source for municipality lvl data
  notebooks/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update election notebook
  notebooks/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add typer to requirements
  pyproject.toml
Due: none

update gitignore
  .gitignore
Due: none

update federal loading
  src/geoscore_de/data_flow/election/federal_21.py
  src/geoscore_de/data_flow/election/federal_25.py
  src/geoscore_de/data_flow/election/utils.py
Due: ruff-lint, ruff-format

add unemployment data
  .gitignore
  data/.gitkeep
  data/raw/unemployment.csv
Due: none

move notebooks to analyses
  analyses/election_2025.ipynb
  analyses/research.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add municipality data
  .gitignore
  analyses/municipal_explore.ipynb
  data/raw/municipalities_2022.csv
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

municipality ground truth
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update municipality data
  analyses/municipal_explore.ipynb
  data/raw/municipalities_2022.csv
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add geojson data and notebook
  analyses/geojson.ipynb
  data/bundeslaender_simplify200.geojson
  data/gemeinden_simplify200.geojson
  pyproject.toml
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add func to load municipality data
  src/geoscore_de/data_flow/municipality.py
Due: ruff-lint, ruff-format

update municipalities explore
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update election 25 notebook
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update election analysis 21 and 25
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update municipality
  analyses/municipal_explore.ipynb
  src/geoscore_de/data_flow/municipality.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update geojson comparison
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update geojson notebook
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

remove bundes geojson
  data/bundeslaender_simplify200.geojson
Due: none

update election 2025
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update election 2021
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  ruff-lint: any of: \.py$|\.ipynb$
  ruff-format: any of: \.py$|\.ipynb$
