Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        args: [--fix]
        require_serial: true
        files: \.py$|\.ipynb$

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        require_serial: true
        files: \.py$|\.ipynb$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

add federal state and admin region to feature matrix
  analyses/municipal_explore.ipynb
  src/geoscore_de/data_flow/features/municipality.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix PR comments
  src/geoscore_de/data_flow/features/municipality.py
Due: ruff-lint, ruff-format

add federal state and admin region to feature matrix (#49)
  analyses/municipal_explore.ipynb
  src/geoscore_de/data_flow/features/municipality.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add per state section to report
  configs/training.yaml
  reports/training_report.qmd
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
  tests/modelling/test_train_split.py
  tests/modelling/test_training_result.py
Due: ruff-lint, ruff-format

update train report
  reports/training_report.qmd
  src/geoscore_de/data_flow/features/municipality.py
  tests/data_flow/features/test_municipality.py
Due: ruff-lint, ruff-format

add shap plots per state
  reports/training_report.qmd
Due: none

fix PR comments
  reports/training_report.qmd
Due: none

update geojson analyses
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update versions
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  uv.lock
Due: none

add new line
  .pre-commit-config.yaml
Due: none

add population analyses
  analyses/features/population.ipynb
  src/geoscore_de/data_flow/features/population.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

ignore png
  .gitignore
Due: none

update dependency versions
  pyproject.toml
  uv.lock
Due: none

fix geo tests
  tests/data_flow/test_geo.py
Due: ruff-lint, ruff-format

fix geo tests
  src/geoscore_de/data_flow/geo.py
Due: ruff-lint, ruff-format

update road accidents
  src/geoscore_de/data_flow/features/road_accidents.py
  tests/data_flow/features/test_road_accidents.py
Due: ruff-lint, ruff-format

update copilot instructions
  .github/copilot-instructions.md
Due: none

use new geo instead old one
  analyses/target/unemployment.ipynb
  src/geoscore_de/address/base.py
  src/geoscore_de/address/mapy_com.py
  src/geoscore_de/app/config.py
  tests/app/test_config.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix tests
  tests/address/test_base_address_retriever.py
Due: ruff-lint, ruff-format

50 update training report (#51)
  configs/training.yaml
  reports/training_report.qmd
  src/geoscore_de/data_flow/features/municipality.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
  tests/data_flow/features/test_municipality.py
  tests/modelling/test_train_split.py
  tests/modelling/test_training_result.py
Due: ruff-lint, ruff-format

update thesis agent
  .github/agents/thesis.agent.md
Due: none

update municipal exploration
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update migration analyses
  analyses/target/migration.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update road accidents analyses
  analyses/features/road_accidents.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

unify python versions
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  pyproject.toml
  uv.lock
Due: none

fix geo test
  tests/data_flow/test_geo.py
Due: ruff-lint, ruff-format

format precommit file
  .pre-commit-config.yaml
Due: none

remove numba from pyproject
  pyproject.toml
  uv.lock
Due: none

52 analyses for thesis (#53)
  .github/agents/thesis.agent.md
  .github/copilot-instructions.md
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  analyses/features/population.ipynb
  analyses/features/road_accidents.ipynb
  analyses/geojson.ipynb
  analyses/municipal_explore.ipynb
  analyses/target/migration.ipynb
  analyses/target/unemployment.ipynb
  pyproject.toml
  src/geoscore_de/address/base.py
  src/geoscore_de/address/mapy_com.py
  src/geoscore_de/app/config.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/road_accidents.py
  src/geoscore_de/data_flow/geo.py
  tests/address/test_base_address_retriever.py
  tests/app/test_config.py
  tests/data_flow/features/test_road_accidents.py
  tests/data_flow/test_geo.py
  uv.lock
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add papermill dependencie
  pyproject.toml
  uv.lock
Due: none

move unemployment
  .gitignore
  configs/features.yaml
  data/raw/features/13211-01-03-5-unemployment.csv
  data/raw/features/unemployment.csv
Due: none

move population
  .gitignore
  configs/features.yaml
  data/raw/features/12411-02-03-5-population.csv
Due: none

fixes after copilot
  README.md
  configs/features.yaml
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

Add configurable delta (trend) features via DeltaFeatureEngineering (#54)
  README.md
  configs/features.yaml
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/delta.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  tests/data_flow/feature_engineering/test_delta_feature_engineering.py
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

fix unemployment data flow
  configs/training.yaml
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

fix unemployment exploration
  analyses/target/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

move unemployment analyses
  analyses/features/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix precommits
  src/geoscore_de/config.py
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

feat: add column-level filtering (use/omit) to feature matrix config (#57)
  configs/features.yaml
  src/geoscore_de/config.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  src/geoscore_de/filtering.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/data_filtering.py
  src/geoscore_de/modelling/train.py
  tests/data_flow/features/test_matrix_builder.py
  tests/modelling/test_data_filtering.py
Due: ruff-lint, ruff-format
