Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

ruff-lint:
  name: ruff-lint
  entry: ruff check
  language: system
  args:
  - --fix
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

update training report
  reports/training_report.qmd
Due: none

fix hardcoded federal state in report
  reports/training_report.qmd
  src/geoscore_de/modelling/config.py
Due: ruff-lint, ruff-format

fix config comments
  configs/training.yaml
  configs/training_age.yaml
Due: none

fix annotation
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add tests for sum feature
  tests/data_flow/feature_engineering/test_sum_feature_engineering.py
Due: ruff-lint, ruff-format

fix training report
  reports/training_report.qmd
Due: none

74 data pipeline (#75)
  .gitignore
  analyses/features/area.ipynb
  analyses/features/births.ipynb
  configs/features.yaml
  configs/training_age.yaml
  pyproject.toml
  reports/training_report.qmd
  src/geoscore_de/data_flow/config.py
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/sum.py
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/migration.py
  src/geoscore_de/data_flow/matrix_builder.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/models.py
  src/geoscore_de/modelling/train.py
  src/geoscore_de/modelling/training_result.py
  tests/data_flow/feature_engineering/test_sum_feature_engineering.py
  tests/data_flow/features/test_feature_config.py
  tests/modelling/test_train_split.py
  uv.lock
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

resolve election 21 einschl
  src/geoscore_de/data_flow/features/election_21.py
  tests/data_flow/features/test_election_21.py
Due: ruff-lint, ruff-format

update election 21 analyses
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

move shared election logic
  src/geoscore_de/data_flow/features/election/base.py
  src/geoscore_de/data_flow/features/election_21.py
  tests/data_flow/features/election/test_base_election.py
  tests/data_flow/features/test_election_21.py
Due: ruff-lint, ruff-format

move election data loader
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/election/__init__.py
  src/geoscore_de/data_flow/features/election/election_21.py
  src/geoscore_de/data_flow/features/election/election_25.py
  tests/data_flow/features/test_election_25.py
Due: ruff-lint, ruff-format

fix einchel in election 2025
  src/geoscore_de/data_flow/features/election/election_25.py
Due: ruff-lint, ruff-format

fix election analyses
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix elect imports
  tests/data_flow/features/election/test_base_election.py
  tests/data_flow/features/test_election_21.py
Due: ruff-lint, ruff-format

fix tests
  tests/data_flow/features/test_election_21.py
  tests/data_flow/features/test_election_25.py
Due: ruff-lint, ruff-format

fix pd concat scaling
  src/geoscore_de/data_flow/features/election/base.py
Due: ruff-lint, ruff-format

fix regex match
  src/geoscore_de/data_flow/features/election/base.py
Due: ruff-lint, ruff-format

71 election einschl (#76)
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  src/geoscore_de/data_flow/features/__init__.py
  src/geoscore_de/data_flow/features/election/__init__.py
  src/geoscore_de/data_flow/features/election/base.py
  src/geoscore_de/data_flow/features/election/election_21.py
  src/geoscore_de/data_flow/features/election/election_25.py
  tests/data_flow/features/election/test_base_election.py
  tests/data_flow/features/test_election_21.py
  tests/data_flow/features/test_election_25.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update migration analyses
  analyses/features/migration.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update area analyses
  analyses/features/area.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update birth analyses
  analyses/features/births.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update assignment
  jcap_assignment.md
Due: none

add binning feature processing
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/binning.py
  tests/data_flow/feature_engineering/test_binning_feature_engineering.py
Due: ruff-lint, ruff-format

update road accidents notebook
  analyses/features/road_accidents.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add feature matrix analyses
  analyses/feature_matrix.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

fix qcut data leakage
  configs/features.yaml
  configs/training.yaml
  src/geoscore_de/data_flow/config.py
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/base.py
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

remove old binning
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/binning.py
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
  tests/data_flow/feature_engineering/test_binning_feature_engineering.py
Due: ruff-lint, ruff-format

add tests of new binning
  tests/data_flow/feature_engineering/test_kbins_binning.py
  tests/modelling/test_train_split.py
Due: ruff-lint, ruff-format

fix quarto problem
  reports/training_report.qmd
Due: none

Potential fix for pull request finding
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
Due: ruff-lint, ruff-format

add sklearn support for feature engineering
  src/geoscore_de/data_flow/feature_engineering/base.py
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

replace all apply calls with transform
  src/geoscore_de/data_flow/feature_engineering/base.py
  src/geoscore_de/data_flow/features/base.py
  src/geoscore_de/data_flow/matrix_builder.py
  tests/data_flow/feature_engineering/test_delta_feature_engineering.py
  tests/data_flow/feature_engineering/test_kbins_binning.py
  tests/data_flow/feature_engineering/test_sum_feature_engineering.py
Due: ruff-lint, ruff-format

update feature transform fit
  tests/modelling/test_train_split.py
Due: ruff-lint, ruff-format

Potential fix for pull request finding
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

update base meta
  src/geoscore_de/data_flow/feature_engineering/base.py
Due: ruff-lint, ruff-format

77 analyses (#78)
  analyses/feature_matrix.ipynb
  analyses/features/area.ipynb
  analyses/features/births.ipynb
  analyses/features/migration.ipynb
  analyses/features/road_accidents.ipynb
  configs/features.yaml
  configs/training.yaml
  jcap_assignment.md
  reports/training_report.qmd
  src/geoscore_de/data_flow/config.py
  src/geoscore_de/data_flow/feature_engineering/__init__.py
  src/geoscore_de/data_flow/feature_engineering/base.py
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
  src/geoscore_de/data_flow/features/base.py
  src/geoscore_de/data_flow/matrix_builder.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
  tests/data_flow/feature_engineering/test_delta_feature_engineering.py
  tests/data_flow/feature_engineering/test_kbins_binning.py
  tests/data_flow/feature_engineering/test_sum_feature_engineering.py
  tests/modelling/test_train_split.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update logging
  src/geoscore_de/data_flow/feature_engineering/kbins_binning.py
  src/geoscore_de/data_flow/features/utils.py
Due: ruff-lint, ruff-format

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  ruff-lint: any of: \.py$|\.ipynb$
  ruff-format: any of: \.py$|\.ipynb$
