Repository vorel99/diplomka: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupyter-nb-clear-output, ruff-lint, ruff-format

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

ruff-lint:
  name: ruff-lint
  entry: ruff check
  language: system
  args:
  - --fix
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true

add tests for 21 election
  tests/data_flow/features/test_election_21.py
Due: ruff-lint, ruff-format

add tests for 25 election
  tests/data_flow/features/test_election_25.py
Due: ruff-lint, ruff-format

Update src/geoscore_de/data_flow/features/election_25.py
  src/geoscore_de/data_flow/features/election_25.py
Due: ruff-lint, ruff-format

fix PR comments
  src/geoscore_de/data_flow/features/election_21.py
  src/geoscore_de/data_flow/features/election_25.py
Due: ruff-lint, ruff-format

18 add transform for voting data (#21)
  analyses/features/election_2021.ipynb
  analyses/features/election_2025.ipynb
  src/geoscore_de/data_flow/election/cli.py
  src/geoscore_de/data_flow/election/federal_21.py
  src/geoscore_de/data_flow/election/federal_25.py
  src/geoscore_de/data_flow/features/base.py
  src/geoscore_de/data_flow/features/election_21.py
  src/geoscore_de/data_flow/features/election_25.py
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/utils.py
  tests/data_flow/features/test_election_21.py
  tests/data_flow/features/test_election_25.py
  tests/data_flow/features/test_population.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add feature conf and matrix builder
  configs/features.yaml
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  tests/data_flow/features/test_config.py
Due: ruff-lint, ruff-format

add yaml dependency
  pyproject.toml
Due: none

fix unemployment analyses
  analyses/target/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add comparison for geojson and municipalities
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

change merge to outer
  configs/features.yaml
Due: none

add tests for matrix builder
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

raise error if problem in feature processing
  src/geoscore_de/data_flow/features/matrix_builder.py
Due: ruff-lint, ruff-format

Update tests/data_flow/features/test_matrix_builder.py
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

unify error handling
  src/geoscore_de/data_flow/features/matrix_builder.py
Due: ruff-lint, ruff-format

fix tests
  tests/data_flow/features/test_matrix_builder.py
Due: ruff-lint, ruff-format

8 create feature matrix (#22)
  analyses/municipal_explore.ipynb
  analyses/target/unemployment.ipynb
  configs/features.yaml
  pyproject.toml
  src/geoscore_de/data_flow/features/config.py
  src/geoscore_de/data_flow/features/matrix_builder.py
  tests/data_flow/features/test_config.py
  tests/data_flow/features/test_matrix_builder.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update geojson exploration
  .gitignore
  analyses/geojson.ipynb
  data/georef-germany-gemeinde.csv
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

add conclusion in geojson explore
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

remove geojson from municipality explore
  analyses/municipal_explore.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update election 2021 exploration
  analyses/features/election_2021.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update assignment
  jcap_assignment.md
Due: none

update TYPOs
  analyses/geojson.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

23 municipality granurality (#24)
  .gitignore
  analyses/features/election_2021.ipynb
  analyses/geojson.ipynb
  analyses/municipal_explore.ipynb
  data/georef-germany-gemeinde.csv
  jcap_assignment.md
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Add training config class
  src/geoscore_de/modelling/config.py
Due: ruff-lint, ruff-format

Add training pipeline template
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

migrate to grit search
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

add modelling dependencies
  pyproject.toml
Due: none

migrate unemployment to unified aproach
  src/geoscore_de/data_flow/unemployment.py
Due: ruff-lint, ruff-format

move unemployment to features
  configs/features.yaml
  data/raw/features/unemployment.csv
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

fix id col and missing target values
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

unemployment transform remove cols
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

add example training config
  .gitignore
  configs/training.yaml
Due: none

fix migration load
  src/geoscore_de/data_flow/migration.py
Due: ruff-lint, ruff-format

fix unemployment ipynb
  analyses/target/unemployment.ipynb
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

update training config
  configs/training.yaml
  src/geoscore_de/data_flow/features/population.py
Due: ruff-lint, ruff-format

convert municipalities to unified framework
  src/geoscore_de/data_flow/municipality.py
Due: ruff-lint, ruff-format

add normalizing of unemployment total
  src/geoscore_de/data_flow/features/unemployment.py
Due: ruff-lint, ruff-format

resolve PR comments
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/unemployment.py
  src/geoscore_de/data_flow/municipality.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: ruff-lint, ruff-format

remove folder handling
  src/geoscore_de/data_flow/features/population.py
Due: ruff-lint, ruff-format

9 model training (#26)
  .gitignore
  analyses/target/unemployment.ipynb
  configs/features.yaml
  configs/training.yaml
  data/raw/features/unemployment.csv
  pyproject.toml
  src/geoscore_de/data_flow/features/population.py
  src/geoscore_de/data_flow/features/unemployment.py
  src/geoscore_de/data_flow/migration.py
  src/geoscore_de/data_flow/municipality.py
  src/geoscore_de/data_flow/unemployment.py
  src/geoscore_de/modelling/config.py
  src/geoscore_de/modelling/train.py
Due: jupyter-nb-clear-output, ruff-lint, ruff-format

Path conditions:
  jupyter-nb-clear-output: any of: \.ipynb$
  ruff-lint: any of: \.py$|\.ipynb$
  ruff-format: any of: \.py$|\.ipynb$
